## A good tutorial for MySQL with docker:
[Tutorial Link](https://medium.com/swlh/how-to-connect-to-mysql-docker-from-python-application-on-macos-mojave-32c7834e5afa)

### Official Docker MySQL image

[Docker Link](https://hub.docker.com/_/mysql)
Command line verbage:
```
docker pull mysql/mysql-server
```

### Running Docker Container
```
$ docker run --name=root --env="MYSQL_ROOT_PASSWORD=root" -p 3306:3306 -d mysql:latest

```

### Logging into MySQL

```
$ docker run --name=root --env="MYSQL_ROOT_PASSWORD=root" -p 3306:3306 -d mysql:latest
```

### Create Database
[Link to example](https://dev.mysql.com/doc/refman/8.0/en/creating-database.html)
```
mysql> CREATE DATABASE test_db;
```

### Create table for 'dog' and 'cat' tables:

```
CREATE TABLE `dog` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `color` varchar(255) DEFAULT NULL,
  `age` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8
```

```
CREATE TABLE `cat` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `color` varchar(255) DEFAULT NULL,
  `age` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8
```

[**tutorial on create table**](https://dev.mysql.com/doc/refman/8.0/en/show-create-table.html)

### Settings for Table in MySQL
![Prac2_MySQL_table_settings.png](../Images/Prac2_MySQL_table_settings.png)

In [1]:
# Dependencies
# ----------------------------------
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [2]:
from sqlalchemy import Column, Integer, String, Float

In [3]:
# Create Dog and Cat Classes
# ----------------------------------
class Dog(Base):
    __tablename__ = 'dog'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    color = Column(String(255))
    age = Column(Integer)

In [4]:
class Cat(Base):
    __tablename__ = 'cat'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    color = Column(String(255))
    age = Column(Integer)

In [5]:
# Create a Specific Instance of the Dog and Cat classes
# ----------------------------------
dog = Dog(name="Franky", color='Brindle', age=5)
cat = Cat(name="Fluffy", color="white", age=3)

### Code came from Step 3 in Medium article

In [6]:
 # Create Database Connection
# ----------------------------------
# PyMySQL 
import pymysql

# import sqlalchemy as db

# specify database configurations
config = {
    'host': 'localhost',
    'port': 3306,
    'user': 'root',
    'password': 'root',
    'database': 'test_db'
}
db_user = config.get('user')
db_pwd = config.get('password')
db_host = config.get('host')
db_port = config.get('port')
db_name = config.get('database')
# specify connection string
connection_str = f'mysql+pymysql://{db_user}:{db_pwd}@{db_host}:{db_port}/{db_name}'
# connect to database
engine = create_engine(connection_str)

In [7]:
# import sqlalchemy as db
# # conn = engine.connect()

# ## pull metadata of a table

# metadata = db.MetaData(bind=engine)
# metadata.reflect(only=['test_table'])

# test_table = metadata.tables['test_table']
# test_table

In [8]:

# pymysql.install_as_MySQLdb()

# conn = engine.connect()

In [7]:
# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
Base.metadata.create_all(engine)

# Use this to clear out the db
# ----------------------------------
# Base.metadata.drop_all(engine)

In [8]:
# Create a Session Object to Connect to DB
# ----------------------------------
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [9]:
# Add Records to the Appropriate DB
# ----------------------------------
session.add(dog)
session.add(cat)
session.commit()

In [10]:
def get_dog_info():
    new_dog = Dog(name=input('What is your dog\'s name: '), color=input('Color of dog: '), 
                  age=int(input('Age of dog rounded to whole year: ')))
    return new_dog
new_dog = get_dog_info()
session.add(new_dog)
session.commit()

What is your dog's name: spot
Color of dog: spotted
Age of dog rounded to whole year: 1

In [11]:
# Query the Tables
# ----------------------------------
dog_list = session.query(Dog)
for doggy in dog_list:
    print(doggy.name)

Fido
Fido
BoBo
Franky
spot

In [12]:
cat_list = session.query(Cat)
for kitty in cat_list:
    print(kitty.name)

Whiskers
Whiskers
Fluffy

In [13]:
session.close()